html {
    scroll-behavior: smooth;
    font-family: "Noto Sans KR", sans-serif;
}

.background {
    background-image: url("/images/정선_금강전도.jpg");

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;

    /* Center and scale the image nicely */
    background-position: 30% 5%;
    background-repeat: no-repeat;
    background-size: cover;

    filter: brightness(0.6);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {
    width: 111px;
    height: 132px;
    /* border: 1px solid white; */
    background-image: url("/images/AraeA 벡터로고.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;

    cursor: pointer;
}

.arae {
    font-family: 'Gugi', cursive;
    text-align: center;
    margin-bottom: 20%;
    color: white;
}

.arae span:nth-child(1) {
    font-size: 80px;
}

.arae span:nth-child(2) {
    font-size: 36px;
}


.signup {
    width: 300px;
    height: 50px;
    border: none;
    background-color: white;
    text-decoration: none;
    border-radius: 500px;
    margin: 20px 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup .signup_icon {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 -3px;
    /* border: 1px solid black; */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#arae_login {
    background-color: #8BDBFF;
}

#arae_login .signup_icon {
    background-image: url("/images/Arae.png");
}

#kakao_login .signup_icon {
    background-image: url("/images/kakao.png");
}

#kakao_login {
    background-color: #43FF00;
}

.signin {
    background: none;
    border: none;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13pt;
    font-weight: 300;
}


.notice {
    font-family: 'Gugi', cursive;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin-right: 30px;
}

.notice div {
    text-align: right;
    width: 300px;
    height: 100px;
    color: white;
    position: absolute;
    top: 86%;
    margin-right: 0;
}

.form-light {
    display: none;
}

#row_d-flex {
    width: 100%;
}

@media screen and (max-width: 550px) {
    .arae {
        font-family: 'Gugi', cursive;
        text-align: center;
        margin-bottom: 20%;
        color: white;
    }

    .arae span:nth-child(1) {
        font-size: 40px;
    }

    .arae span:nth-child(2) {
        font-size: 20px;
    }

    /* signup 버튼 */

    .signup {
        width: 230px;
        height: 36px;
        border: none;
        background-color: white;
        text-decoration: none;
        border-radius: 500px;
        margin: 20px 0;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 10pt;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .signup .signup_icon {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 -3px;
        /* border: 1px solid black; */

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #arae_login {
        background-color: #8BDBFF;
    }

    #arae_login .signup_icon {
        background-image: url("/images/Arae.png");
    }

    #kakao_login .signup_icon {
        background-image: url("/images/kakao.png");
    }

    #kakao_login {
        background-color: #43FF00;
    }

    .signin {
        background: none;
        border: none;
        color: white;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 10pt;
        font-weight: 300;
    }


    .notice {
        font-family: 'Gugi', cursive;
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        margin-right: 10px;
    }

    .notice div {
        text-align: right;
        width: 300px;
        height: 100px;
        color: white;
        position: absolute;
        top: 86%;
        margin-right: 0;
    }
}