<!-- 1 -->
<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(71).jpg" alt="Card image cap">
        <a href="https://ko.wikipedia.org/wiki/%EC%A0%9C%EB%A7%9D%EB%A7%A4%EA%B0%80">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>제망매가</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">월명사</h6>
        <!-- Text -->
        <p class="card-text">생사(生死) 길은<br>

            예 있으매 머뭇거리고<br>

            나는 간다는 말도<br>

            못다 이르고 어찌 갑니까<br>

            어느 가을 이른 바람에<br>

            이에 저에 떨어질 잎처럼<br>

            한 가지에 나고<br>

            가는 곳 모르온저<br>

            아아, 미타찰(彌陀刹)에서 만날 나<br>

            도(道) 닦아 기다리겠노라<br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->

<!-- 2 -->

<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
        <a href="https://namu.wiki/w/%EC%83%81%EC%B6%98%EA%B3%A1">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>상춘곡</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">정극인</h6>
        <!-- Text -->
        <p class="card-text">홍진(紅塵)에 뭇친 분네 이내 生涯(생애) 엇더한고. <br>
            녯사람 풍류(風流)랄 미찰가 맛 미찰가. <br>
            천지간(天地間) 남자(男子) 몸이 날만한 이 하건마난, <br>
            산림(山林)에 뭇쳐 이셔 지락(至樂)을 마랄 것가. <br>
            수간 모옥(數間茅屋)을 벽계수(碧溪水) 앏픠 두고, <br>
            송죽(松竹) 울울리(鬱鬱裏)예 풍월 <br>
            주인(風月主人) 되어셔라. <br> <br>

            엇그제 겨을 지나 새봄이 도라오니, <br>
            도화 행화(桃花杏花)난 석양리(夕陽裏)예 퓌여 잇고, <br>
            녹양 방초(綠楊芳草)난 세우 중(細雨中)에 흐르도다. <br>
            칼로 말아 낸가, 붓으로 그려 낸가, 조화 <br>
            신공(造化神功)이 물물(物物)마다 헌사랍다. <br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->

<!-- 3 -->

<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(72).jpg" alt="Card image cap">
        <a href="http://encykorea.aks.ac.kr/Contents/Item/E0000893">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>갑민가</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">작가 미상</h6>
        <!-- Text -->
        <p class="card-text">네　행색(行色) 보아니 군사도망(軍士逃亡) 네로고나 <br>


            뇨상(腰上)으로 볼작시면 뵈젹삼이 깃만 남고<br>

            허리 아래 구버보니 헌 잠방이 노닥노닥<br>

            곱장할미 압희 가고 전태발이 뒤예 간다<br>

            십니(十里) 길을 할내 가니 몃니 가셔 업쳐디리<br>

            내 고을의 양반(兩班) 사람 타도타관(他道他官) 온겨 살면　<br>

            천(賤)이 되기 상사여든 본토군정(本土軍丁) 슬타하고　<br><br>

            자네 또한 도망(逃亡) 하면 일국일토(一國一土) 한 인심(人心)의　<br>


            근본 슘겨 살녀한들 어데 간달 면할손가<br>

            차라리 네 사던 곳의 아모케나 뿔희 박여<br>

            칠팔월의 채삼(採蔘)하고 구십월(九十月)의 돈피(皮) 잡아<br>

            공채신역(公債身役) 갑흔 후의 그 남저지 두엇다가<br>

            함흥북청(咸興北靑) 홍원(洪原) 장사 도라드러 잠매(潛賣)할 제<br>


            후가(厚價) 밧고 파라내여 살기 됴흔 너른 곳의　<br>

            가사뎐토(家舍田土) 곳쳐 사고 가장즙물(家庄汁物) 장만하여<br>

            부모처자 보전(保全)하고 새 즐거믈 누리려문<br> <br>
            .. 생략 .. <br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->

<!-- 4 -->

<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(73).jpg" alt="Card image cap">
        <a href="https://ko.wikipedia.org/wiki/%EC%9A%A9%EB%B9%84%EC%96%B4%EC%B2%9C%EA%B0%80">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>용비어천가</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">정인지 외 7명</h6>
        <!-- Text -->
        <p class="card-text">[1장]<br>
            해동 육룡이 나르샤 일마다 천복이시니<br>
            고성이 동부하시니<br><br>

            [2장]<br>
            불휘 기픈 남근 바라매 아니 뮐쎄 곶 됴코 여름 하느니<br>
            새미 기픈 므른 가마래 아니 그츨쎄 내히 이러 바라래 가느니<br><br>


            [125장]<br>
            천세 우희 미리 정하샨 한수북에 누인개국하샤 복년이 가업스시니<br>
            성신이 니사샤도 경천근민하샤사 더욱 구드시리이다<br>
            님금하 아르쇼셔 낙수예 산행 가이셔 하나빌 미드니잇가<br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->

<!-- 5 -->

<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(74).jpg" alt="Card image cap">
        <a href="https://namu.wiki/w/%EB%A7%8C%ED%9D%A5">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>만흥</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">윤선도</h6>
        <!-- Text -->
        <p class="card-text">산수 간(山水間) 바회 아래 뛰집을 짓노라 하니 <br>
            그 모론놈들은 웃는다 한다마는<br>
            어리고 햐암의 뜻에는 내 분(分)인가 하노라<br><br>

            보리밥 픗나물을 알마초 머근 후(後)에<br>
            바횟 긋 믉가의 슬카지 노니노라<br>
            그 나믄 녀나믄 일이야 부랄 줄이 이시랴<br><br>

            잔 들고 혼자 안자 먼 뫼흘 바라보니<br>
            그리던 님이 오다 반가옴이 이리하랴<br>
            말슴도 우움도 아녀도 몯내 됴하하노라<br><br>

            누고셔 삼공(三公)도곤 낫다 하더니 만승(萬乘)이 이만하랴<br>
            이제로 헤어든 소부(巢父) 허유(許由) 약돗더라<br>
            아마도 임천한흥(林泉閑興)을 비길 곳이 업세라<br><br>

            내 셩이 게으르더니 하늘이 아라실샤,<br>
            인간만사(人間萬事)를 한 일도 아니 맛뎌,<br>
            다만당 다토리 업슨 강산(江山)을 딕희라 하시도다.<br><br>

            강산(江山)이 됴타한들 내 분(分)으로 누얻느냐<br>
            님군 은혜(恩惠)를 이제 더옥 아노이다.<br>
            아므리 갑고쟈 하야도 해올 일이 업세라<br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->

<!-- 6 -->

<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(75).jpg" alt="Card image cap">
        <a href="https://namu.wiki/w/%EC%B0%AC%EA%B8%B0%ED%8C%8C%EB%9E%91%EA%B0%80">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>찬기파랑가</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">작자 미상</h6>
        <!-- Text -->
        <p class="card-text">열치매 <br>
            나타난 달이<br>
            흰구름 좇아 떠 가는 것 아니냐?<br>
            새파란 나리에<br>
            기랑(耆郞)의 모습이 있어라. 일로 나리 조약에<br>
            낭(郎)의 지니시던<br>
            마음의 끝을 좇누아져. 아아, 잣가지 높아<br>
            서리 모르시올 화반(花判)이여.<br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->

<!-- 7 -->

<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(76).jpg" alt="Card image cap">
        <a href="   ">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>정과정</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">작자 미상</h6>
        <!-- Text -->
        <p class="card-text">내 님믈 그리자와 우니다니<br>
            산(山) 졉동새 난 이슷하요이다.<br> 아니시며 거츠르신 달 아으<br>
            잔월효성(殘月曉星)이 아르시리이다.<br> 넉시라도 님은 한데 녀져라 아으<br>
            벼기더시니 뉘러시니잇가. 과(過)도 허믈도 천만(千萬) 업소이다.<br> 말힛마리신뎌<br>
            살읏븐뎌 아으<br>
            니미 나를 하마 니자시니잇가. <br>아소 님하, 도람 드르샤 괴오쇼셔.<br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->

<!-- 8 -->


<!-- Card -->
<div class="card card-cascade wider reverse" id="card-container">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(77).jpg" alt="Card image cap">
        <a href="https://namu.wiki/w/%EC%86%8D%EB%AF%B8%EC%9D%B8%EA%B3%A1">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title --><br>
        <h4 class="card-title"><strong>속미인곡</strong></h4>
        <div class="title_line"></div>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2" id="card-writer">정철</h6>
        <!-- Text -->
        <p class="card-text">뎨 가ᄂᆞᆫ 뎌 각시 본 듯도 ᄒᆞᆫ뎌이고
            天텬上샹 白ᄇᆡᆨ玉옥京경을 엇디ᄒᆞ야 離니別별ᄒᆞ고
            ᄒᆡ 다 뎌 져믄 날의 눌을 보러 가시ᄂᆞᆫ고 <br><br>
            어와 네여이고 내 ᄉᆞ셜 드러보오
            내 얼굴 이 거동이 님 괴얌즉 ᄒᆞᆫ가마ᄂᆞᆫ
            엇딘디 날 보시고 네로다 녀기실ᄉᆡ<br>
            나도 님을 미더 군ᄠᅳ디 전혀 업서
            이ᄅᆡ야 교ᄐᆡ야 어ᄌᆞ러이 ᄒᆞ돗ᄯᅥᆫ디
            반기시ᄂᆞᆫ ᄂᆞᆺ비치 녜와 엇디 다ᄅᆞ신고.<br>
            누어 ᄉᆡᆼ각ᄒᆞ고 니러 안자 혜여ᄒᆞ니
            내 몸의 지은 죄 뫼ᄀᆞ티 ᄡᅡ혀시니
            하ᄂᆞᆯ히라 원망ᄒᆞ며 사ᄅᆞᆷ이라 허믈ᄒᆞ랴
            셜워 플텨 혜니 造조物믈의 타시로다<br><br>
            글란 ᄉᆡᆼ각 마오. ᄆᆡ친 일이 이셔이다<br>
            님을 뫼셔 이셔 님의 일을 내 알거니
            믈 ᄀᆞᄐᆞᆫ 얼굴이 편ᄒᆞ실 적 몃 날일고<br>
            春츈寒한苦고熱열은 엇디ᄒᆞ야 디내시며
            秋츄日일冬동天쳔은 뉘라셔 뫼셧ᄂᆞᆫ고<br>
            粥죽早조飯반 朝죠夕석 뫼 녜와 ᄀᆞᆺ티 셰시ᄂᆞᆫ가
            기나긴 밤의 ᄌᆞᆷ은 엇디 자시ᄂᆞᆫ고<br><br>
            님다히 消쇼息식을 아므려나 아쟈 ᄒᆞ니
            오ᄂᆞᆯ도 거의로다. ᄂᆡ일이나 사ᄅᆞᆷ 올가<br>
            내 ᄆᆞᄋᆞᆷ 둘 ᄃᆡ 업다. 어드러로 가쟛 말고
            잡거니 밀거니 높은 뫼ᄒᆡ 올라가니<br>
            구롬은ᄏᆞ니와 안개ᄂᆞᆫ 므ᄉᆞ 일고
            山산川쳔이 어둡거니 日일月월을 엇디 보며
            咫지尺쳑을 모ᄅᆞ거든 千쳔里리ᄅᆞᆯ ᄇᆞ라보랴<br>
            ᄎᆞᆯ하리 믈ᄀᆞ의 가 ᄇᆡ 길히나 보쟈 ᄒᆞ니
            ᄇᆞ람이야 믈결이야 어둥졍 된뎌이고<br>
            샤공은 어ᄃᆡ 가고 븬 ᄇᆡ만 걸렷ᄂᆞ니.
            江강川텬의 혼자 셔셔 디ᄂᆞᆫ ᄒᆡᄅᆞᆯ 구버보니
            님 다히 消쇼息식이 더옥 아득ᄒᆞᆫ뎌이고<br><br>
            茅모簷쳠 ᄎᆞᆫ 자리의 밤듕만 도라오니
            半반壁벽靑쳥燈등은 눌 위ᄒᆞ야 ᄇᆞᆯ갓ᄂᆞᆫ고.<br>
            오ᄅᆞ며 ᄂᆞ리며 헤ᄯᅳ며 바자니니
            져근덧 力녁盡진ᄒᆞ야 픗ᄌᆞᆷ을 잠간 드니<br>
            精졍誠셩이 지극ᄒᆞ야 ᄭᅮᆷ의 님을 보니
            玉옥 ᄀᆞᄐᆞᆫ 얼구리 半반이 나마 늘거셰라<br>
            ᄆᆞᄋᆞᆷ의 머근 말ᄉᆞᆷ 슬ᄏᆞ장 ᄉᆞᆲ쟈 ᄒᆞ니
            눈믈이 바라 나니 말ᄉᆞᆷ인들 어이 ᄒᆞ며<br>
            情졍을 못다ᄒᆞ야 목이조차 몌여ᄒᆞ니
            오뎐된[8] 鷄계聲셩의 ᄌᆞᆷ은 엇디 ᄭᆡ돗던고<br><br>
            어와, 虛허事ᄉᆞ로다. 이 님이 어ᄃᆡ 간고
            결의 니러 안자 窓창을 열고 ᄇᆞ라보니
            어엿븐 그림재 날 조ᄎᆞᆯ ᄲᅮᆫ이로다<br>
            ᄎᆞᆯ하리 싀여디여 落낙月월이나 되야이셔
            님 겨신 窓창 안ᄒᆡ 번드시 비최리라<br>
            각시님 ᄃᆞᆯ이야ᄏᆞ니와 구ᄌᆞᆫ 비나 되쇼셔<br>
        </p>
        <br>

        <!-- Twitter -->
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="http://www.facebook.com"><i class="fab fa-facebook-f" id="card-icon"></i></a>

    </div>

</div>
<!-- Card -->