<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../header"); %>
  <style>
    body {
      font-family: "Nanum Gothic", sans-serif;
    }

    #createForm {
      width: 90%;
      height: 100%;
      padding: 5px;
      margin: 0 auto;
      background: linear-gradient(#e66465, #9198e5);
    }

    .form-wrap {
      background-color: white;
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 10px;
    }

    .tips {
      font-size: 9pt;
    }

    .tips-border {
      width: 100%;
      height: 2px;
      background-color: gray;
      margin-bottom: 20px;
    }

    .md-form {
      margin: 30px 0;
    }

    #create_button {
      width: 100px;
      transition: 0.3s;
      background-color: #7D99ED !important;
    }

    #create_button:hover {
      background-color: #7354F4 !important;
      transition: 0.3s;
    }
  </style>
</head>


<body>
  <%- include("../menu"); %>

  <form id="createForm">

    <div class="form-wrap">
      <div class="tips">
        <p>TIP : 고전시가는 수능에서 절대적으로 중요합니다</p>
      </div>
      <div class="tips-border"></div>
      <!-- Material input -->
      <p>예시) 역군은 이샷다</p>
      <div class="md-form">

        <input type="text" id="sentence" class="form-control" required>
        <label for="sentence">문장을 입력해주세요</label>
      </div>
      <p>예시) 임금님 덕분이다</p>
      <div class="md-form">

        <input type="text" id="answer" class="form-control" required>
        <label for="answer">해석을 입력해주세요</label>
      </div>
      <p>에시) 강호사시가</p>
      <div class="md-form">

        <input type="text" id="where" class="form-control" required>
        <label for="where">어느 작품에서 나온 글귀인가요</label>
      </div>

      <button type="submit" id="create_button" class="btn btn-primary">저장</button>
    </div>

  </form>
  <%- include("../footer"); %>
  <script>
    $(function () {
      $("#createForm").submit((event) => {
        event.preventDefault();
        const sentence = $("#sentence").val();
        const answer = $("#answer").val();
        const where = $("#where").val();

        $.ajax({
          url: "/api/play",
          type: "POST",
          data: {
            sentence,
            answer,
            where
          },
        }).done(() => {
          location.href = "/api/play";
        }).fail((request, status, error) => {
          alert(request.responseText);
        });
      });
    });
  </script>
</body>

</html>